{{- if .Values.enabled }}

apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    spaceone.service: {{ .Values.name }}
  name: {{ .Values.name }}
  namespace: {{ .Values.global.namespace | default .Release.Namespace }}
spec:
  replicas: {{ .Values.replicas }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      spaceone.service: {{ .Values.name }}
  template:
    metadata:
      annotations:
        spaceone.deployment.tool: helm
      labels:
{{ include "spaceone.labels" . | indent 8 }}
        spaceone.service: {{ .Values.name }}
    spec:
{{- if .Values.serviceAccountName }}
      serviceAccountName: {{ .Values.serviceAccountName }}
{{- end }}
      terminationGracePeriodSeconds: {{ .Values.gracePeriod }}
{{- if .Values.imagePullSecrets}}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end}}
      containers:
        - name: {{ .Values.name }}
          image: {{ .Values.image.name }}:{{ .Values.image.version }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
{{- if .Values.resources }}
          resources:
          {{- toYaml .Values.resources | nindent 12 }}
{{- end }}
{{- if .Values.env }}
          env:
{{- toYaml .Values.env | nindent 12 }}
{{- end }}
          volumeMounts:
            - name: spacectl-data
              mountPath: /root/.spaceone/
            - name: environment-conf
              mountPath: /root/default.yaml
              subPath: default.yaml
              readOnly: true
      volumes:
        - name: environment-conf
          configMap:
            name: {{ .Values.name }}-environment-conf
{{ if .Values.pvc.storageClassName }}
        - name: spacectl-data
          persistentVolumeClaim:
            claimName: {{ .Release.Namespace }}-spacectl-pvc
{{ else }}
        - name: spacectl-data
          emptyDir: {}
{{- end }}

{{- end }}
